Añadir comentario:</br>
<form method="post" action="/quizes/<%=quizid%>/comments/">
<input type="text" id ="comment" name="comment[texto]" value="" placeholder="Su comentario" /> </br>
<button type="submit">Enviar comentario </button>
</form>
