<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>Bienvenido a <%= title %></h1> <br>
    <span><b>Autor:</b>Vitor Alonso</span>
    <span><img src='/images/imagen.png' style="float:right;width:150px;height:150px;" /> </span>
    	
     	
  </body>
</html>
