<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

 <%=respuesta%> <br>
<a href='/quizes/question'>Int&eacute;ntelo otra vez</a>
</body>
</html>
