<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<p>
 <%=respuesta%> <br>
<a href="/quizes/<%= quiz.id%>">Volver</a>
</p>
</body>
</html>
