<h2>Login</h2>
<form method='POST'	action='/login'>
<div class="field">
	<label for="login">LOGIN:</label><br/>
	<input type"text" id="login" name="login" size="30" placeholder="Nombre de usuario"/>
</div>
<div class="field">
	<label for="password">PASSWORD:</label><br />
	<input type="password" id="password" name="password" size="30" placeholder="Password"/>
</div>
<div class="actions">
	<input name="commit" type="submit"value="Login" />
</div>
</form>
